.bounds {
    @apply grid grid-cols-2 gap-2 lg:grid-cols-4 mb-2;

    input[type="search"] {
        @apply border border-black rounded p-2 w-full;
    }
}

.filters {
    @apply mb-2 lg:flex lg:items-center;
    @apply grid grid-cols-2 gap-2 lg:grid-cols-4 mb-2;

    select {
        @apply border border-black rounded p-2 w-full;
    }
}