#results-container {
    @apply grid place-content-center gap-2 grid-cols-2 lg:grid-cols-5;
    
    .card {
        @apply border border-gray-400 shadow-lg p-2 text-center text-partoo-light-blue;
        @apply transition duration-300 ease-in-out hover:bg-gray-100 cursor-pointer;
    }
}

.pagination {
    @apply text-center grid gap-2 grid-cols-1 lg:grid-cols-3 lg:w-2/5 lg:mx-auto;

    small {
        @apply grid items-center;
    }
}